<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Portal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
      
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container1 {
      padding: 2px 16px;
    }
    </style>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Blog Portal</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="post"><a href="/compose">POST</a></li>
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT </a></li>
          <li id="contact"><a href="/contact">CONTACT </a></li>
          <li id="register"><a href="/logout">Logout</a></li>
          <li id="profile"><a href="/profile"> <%=user.name%></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <div class="card">
        <div class="container1">
          <br>
          <button type="button" class="btn btn-warning">Title : </button> &nbsp;&nbsp;<button type="button" class="btn btn-light"><%=title%></button>
        <br>
        <article><p>
          <br>
        <button type="button" class="btn btn-warning">Blog Created by : </button> &nbsp;&nbsp;<a class="btn btn-info" href="/profile/<%=userofpost%>"><%=userofpost%></a>
      </p></article>
      <br>
            <article><p>
              <%=content%>
            </p></article>
         </div>
        </div>
        <br>
       
<%- include("partials/footer"); -%>





